@import "../styles.scss";

.endpoints {
    &__docs {
        padding: 100px 20px 20px 50px;
      
        width: 80%;
        height: 100vh;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: #111111;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #111111;
            border-radius: 20px;
            border: 3px solid $darkSecond;

            &:hover {
                background-color: $main;
            }
        }

        &_title {
            margin-top: 0;
        }

        &_item {
            width: 50%;
            padding: 20px;
            border: 1px solid #666666;
            border-radius: 5px;
            margin-bottom: 20px;

            &_title {
                margin: 0;
                margin-right: 10px;
                font-size: 18px;

                &_box {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    &__ar {
        transition: 0.2s;
        display: inline-block;
        width: 15px;
        height: 13px;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
        color: #9f9f9f;
        margin-right: 5px;
    }

    &__response {
        margin-bottom: 20px;

        &_box {
            margin-top: 30px;
        }

        &_item {
            border-radius: 5px;
        }

        &_message {
            position: relative;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: rgb(218, 255, 209);
            color: #444444;
            font-size: 700;
            cursor: pointer;

            &_arr {
                position: absolute;
                right: 10px;

                transition: 0.2s;
                display: inline-block;
                width: 12px;
                height: 15px;
                stroke-width: 0;
                stroke: currentColor;
                fill: currentColor;
                color: #5e5e5e;

            }

            &_text {
                margin: 0 10px;
            }

        }

        &_config {
            padding: 10px 20px 20px 0;
            // border: 1px solid #666666;

        }
    }

    &__config {
        margin-top: 50px;
        display: none;

        &_item {
            margin-bottom: 50px;
            padding-bottom: 50px;
            border-bottom: 1px solid #666666;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }

            &_title {
                margin-bottom: 30px;
                font-size: 13px;
                opacity: 0.7;
            }
        }
    }

    &__parameters {
        &_item {
            display: flex;
            align-items: to-upper-case($string: "");
            margin-left: 20px;
            margin-bottom: 8px;
            padding-bottom: 25px;
            border-bottom: 1px solid #666666;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }

            &_field {
                width: 20%;

                &_name {
                    margin: 0;
                    margin-bottom: 5px;
                }

                &_required {
                    color: rgb(255, 63, 63);
                    margin: 0;
                }
            }

            &_type {
                &_name {
                    margin: 0;
                    margin-bottom: 5px;
                    opacity: 0.5;
                    font-size: 14px;
                }

                &_enum {
                    margin: 0;

                    &_item {
                        background-color: #222;
                        padding: 3px 6px;
                        border-radius: 5px;
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}