@import "../styles.scss";

.service {
    position: relative;
    transition: 1s;
    overflow: hidden;

    // &__background {
    //     position: absolute;
    //     z-index: -2;
    //     top: 0;
    //     left: 0;
    //     width: 100vw;
    //     height: calc(100vh - 80px);

    //     &_dark {
    //         position: absolute;
    //         z-index: -1;
    //         display: block;
    //         width: 100vw;
    //         height: calc(100vh - 80px);
    //         background-color: #a91010;
    //         opacity: 0.5;
    //     }
    // }

    &__container {}

    &__show {
        height: calc(100vh);
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 150px;

        position: relative;
        display: flex;
    }

    &__cell {
        width: 50%;
        margin-left: auto;

        &_title {
            text-align: center;
            margin-bottom: 40px;
        }

        &_box {
            display: flex;
            flex-wrap: wrap;
        }

        &_item {
            display: inline-block;
            width: 50%;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 30px;

            &_title {
                margin: 10px 2px;
            }

            &_field {
                background-color: #222;
                color: rgb(227, 227, 227);
                width: 200px;
                height: 40px;
                border-radius: 5px;
                border: 1px solid $main;

                -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 213, 255, 0.5);
                -moz-box-shadow: 0px 0px 4px 0px rgba(0, 213, 255, 0.5);
                box-shadow: 0px 0px 4px 0px rgba(0, 213, 255, 0.5);

                display: flex;
                align-items: center;
                padding: 0 10px;
            }
        }
    }

    &__subscribe {
        background-color: $main;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        padding: 8px 15px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }

    &__title {
        margin: 20px 0;
    }

    &__description {
        max-width: 350px;
    }

    &__logo {
        width: 70px;
        height: 70px;
    }

    &__stars {
        display: flex;
        align-items: center;
        margin-top: 10px;
        font-size: 18px;

        &_icon {
            display: inline-block;
            width: 1em;
            height: 1em;
            stroke-width: 0;
            stroke: currentColor;
            fill: currentColor;
            color: rgb(255, 218, 6);
            margin-left: 2px;
        }

    }

    &__nav {
        position: relative;
        top: -50px;
        width: 100%;
        height: 0;
        max-width: 1200px;
        margin: 0 auto;

        &_inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 350px;

        }

        &_item {
            cursor: pointer;
        }
    }
}