@import "./styles.scss";

.header {
    position: relative;
    z-index: 10;
    padding: 15px 20px;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px 0 rgb(0 0 0 / 6%);
    transition: 1s;


    &__container {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
        font-weight: 700;
    }

    &__input {
        padding: 7px 8px;
        width: 30%;
        max-width: 250px;
        border: none;
        border-radius: 5px;
        margin: 0 10px;

        &:focus-visible {
            outline: 0;
            border: 2px solid $mainSecond;
        }
    }

    &__logo {
        font-weight: 700;
        font-size: 24px;
        color: $main;
        margin-right: 40px;

        @media screen and (max-width: 900px) {
            margin-right: 20px;
        }
    }

    &__theme {
        position: relative;
        width: 60px;
        height: 30px;
        border-radius: 20px;
        cursor: pointer;

        display: flex;
        align-items: center;
        transition: 1s;

        &_button {
            position: absolute;
            transition: 1s;
            margin: 0 2px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: $main;
            transition: 1s;
        }
    }

    &__nav {
        display: flex;

        @media screen and (max-width: 900px) {
            display: none;
        }
        &_item {
            color: $mainSecond;
            font-size: 14px;
            margin-left: 15px;
            cursor: pointer;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__sign {
        background-color: $main;
        padding: 5px 10px;
        border-radius: 5px;

        color: #fff;
        font-size: 14px;
        font-weight: 700;

        margin-left: 15px;
    }

    &__login {
        font-size: 14px;
        margin-left: 25px;

        @media screen and (max-width: 900px) {
            margin: 0;
        }
    }
}